*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.sony{
    background-color: black;
    text-align: right;
}
.sony p{
    color: white;
    text-align: right;
    height: 36px;
    font-size: 22px;
    padding: 4px 8px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 41px;
    z-index: 10;
    background-color: white;
}
.nav-bar i{
    font-size: 1.5rem;
    margin: 1% 2% 0 5%;
    color:#0070cc;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: #757575;
}
.image-link{
    display: flex;
    justify-content: center;
}
.image-link div{
    margin: 2%;
}
.image-link img{
    width: 100%;
    height: 100%;
}
.more-option{
    display: none;
    width: 100vw;
    background-color: white;
    left: 0;
    transform: translateY(-150%);
}
.more-option ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1% 0 0 0;
    margin-bottom: 2%;
    border-top: 1px solid #757575;
    list-style: disc;
}
.more-option a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.more-option a:hover{
    color: #0070cc;
}
.more-option img:hover{
    box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.more-option li::marker{
    color: #0070cc;
    font-size: 20px;
}
input[type=checkbox]{
    display: none;
}
label{
    display: flex;
    align-items: center;
    position: relative;
}
label::after{
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
label:hover{
    cursor: pointer;
    color: #0070cc;
}
.check:checked + label{
    color: #0070cc;
}
#more:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
#more1:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more1:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
#more2:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more2:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
#more3:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more3:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
#more4:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more4:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
#more5:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more5:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
#more6:checked ~ .more-option{
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(5%);
}
#more6:checked + label::after{
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    right: -15px;
    font-size: 12px;
}
.nav-bar ul li{
    color: #757575;
    font-size: 12px;
    padding: 0 20px 0 5px;
    font-family: SST;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 10px;
}
.signin{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.signin a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 10px;
    border-radius: 24px;
    font-weight: 550;
    background-color: #0070cc;   
}
.signin a:hover{
    background-color: #005ca7;
}
.nav-bar1{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    height: 64px;
    box-shadow: 0px 10px 15px 0px rgba(150, 150, 150, 0.20);
    /* border-radius: px; */
    justify-content: center;
    z-index: 10;
    background-color: white;
}
.nav-bar1 img{
    width: 250.78px;
    height: 50px;
    padding: 6px 16px;
    /* position: relative;
    left: 0; */
    /* display: flex;
    justify-self: self-start; */
}
.nav-bar1 a{
    text-decoration: none;
    color: black;
}
.nav-bar1 ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-bar1 ul li{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 550;
}
/* .nav-bar1 li:first-child{
    background-color: #75757531;
    border-radius: 20px;
} */
.nav-bar1 li:hover{
    background-color: #7575751f;
    border-radius: 20px;
}